*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(blue5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

nav {
  background-color:#286fe3;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 300;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  width: 50px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color:rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.menu-icon {
  /* background-color: tomato; */
  font-size: 28px;
  display: none;
  color: white;
}

main {
  padding-top: 7rem;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
}
.text-container h2{
  color: white;
    font-size: 30px;
    padding: 20px 0px;
}

h1{
  color: white;
  font-size: 62px;
  font-family: 'Roboto',sans-serif;
  margin-top: 75px;
  text-align: center;
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    margin: 50px 0px;
    border: 2px solid rgb(59, 59, 64);
    color: white;
    background-color: rgb(59, 59, 64);
    border-radius: 5px;
    transition: .3s all ease;
}
.text-container a:hover{
    background-color: rgb(26, 26, 29);
    color: white;
}

.text-container p{
  font-family: 'Roboto',sans-serif;
  color: rgb(12, 56, 56);
  font-size: 20px;
}
@media screen and (max-width: 1600px){
    .about-container{
        width: 90%;
    }
    .image-container img{
        width: 500px;
        height: 400px;
    }
    .text-container h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 1100px){
    .about-container{
        flex-direction: column;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .text-container {
        align-items: center;
    }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  background-color: #111212;
  margin-top : 1500px;
}

.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Effect Icons*/

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav{
  margin: 30px 0;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-family: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover{
opacity: 1;
}

.footerBottom{
  background-color: black;
  padding: 25px;
  text-align: center;
}

.footerBottom p{
  color: white;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }

}